.btn-minha-area:hover {
  color: #ffffff;
  background-color: #1abc9cb2;
}

.btn-minha-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  margin-bottom: 10px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
}

.btn-minha-area-text {
  color: #ffffff;
  font-size: 18px;
}
