/* Home.css */
.sobre {
  padding: 20px;
  text-align: center;
}

.mapa iframe {
  max-width: 100%;
}

.menu-pedido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-pedido a {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .sobre {
    padding: 10px;
  }
}
