.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-produto {
  width: 90%;
  height: 200px;
  display: flex;
  border: 1px solid #f11f0769;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
}

.btn-cardapio:hover {
  color: #ffffff;
  background-color: #1abc9cb2;
}

.btn-cardapio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  margin-bottom: 10px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-cardapio-text {
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

/* .m-0.mx-3 {
  margin-top: 20px;
  text-align: flex-start;
  margin-left: 50px;
  font-size: 15px;
  font-weight: 500;
} */
.link-button {
  text-decoration: none;
}
.card-img {
  margin-right: 10px;
}

.card-info {
  margin-left: auto;
}
